.container {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: center;
}
.head{
width: 450px;
height: 150px;
background-color: yellow;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
.head button{
  width: 150px;
  height: 70px;
  border-radius: 50px;

}
.main {
  height: 870px;
  width: 450px;
  display: flex;
  background-color: blue;
  flex-direction: column;
  /* justify-content: start; */
  align-items: center;
}
.search{
  width: 100%;
  height: 80px;
  background-color: purple;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.search div {
  width: 10%;
  height: 95%;
  background-color: red;
  justify-content: center;
  align-items: center;
  display: flex;
}
.search input {
  width: 85%;
  height: 80%;
  display: flex;
  border-width: 1px;
  /* border-color:blue; */
  border-style: solid;
  border-radius: 50px;
  font-size: 20px;
  padding-left: 10px;
}
.contacts{
  width: 100%;
  height: auto;
  background-color: green;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}
.single{
  width: 90%;
  height: 70px;
  border: 1px solid black;
  margin-bottom: 2px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 50px;
  height: 50px;
  background-color: aliceblue;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.detail{
  width: 80%;
  height: 100%;
  border-width: 1px;
  border-color: red;
  border-style: solid;
  display: flex;
  flex-direction: column;
}
/* .detail text{
  flex-direction: column;
} */
.right{
  width: 10%;
  height: 100%;
  background-color: yellow;
}
.top{
  width: 450px;
  height: 75px;
  background-color: blue;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.back{
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-color: yellow;
  border-style: solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.holder{
  width: 80%;
  height: 90%;
  background-color: brown;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hpic {
  width: 150px;
  height: 150px;
  background-color: blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.hdetail{
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: blue;
}
.hdetail p {
  font-size: xx-large;
}
.hbio{
  width: 90%;
  height: 30%;
  background-color: blue;
}