.container {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: center;
}
.head{
width: 450px;
height: 150px;
background-color: #1f1d29;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
.btnl{
  width: 150px;
  height: 70px;
  border-radius: 50px;
  background-color:#5259eb;
  border:1px solid #1f1d29;
  font-size: x-large;
  font-family: 'Roboto';
  color: #ccc;
}
.btnr{
  width: 150px;
  height: 70px;
  border-radius: 50px;
  background-color: #1f1d29;
  border: 1px solid white;
  font-size: x-large;
  font-family: 'Roboto';
  color: #ccc;
}
.main {
  height: 850px;
  width: 450px;
  display: flex;
  background-color: #1f1d29;
  flex-direction: column;
  /* justify-content: start; */
  align-items: center;
}
.search{
  width: 100%;
  height: 80px;
  background-color:#1f1d29;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.search div {
  width: 10%;
  height: 95%;
  background-color: #1f1d29;
  justify-content: center;
  align-items: center;
  display: flex;
}
.search input {
  width: 85%;
  height: 100%;
  display: flex;
  border-width: 1px;
  /* border-color:blue; */
  border-style: solid;
  border-radius: 50px;
  font-size: 20px;
  padding-left: 10px;
  font-family: 'Roboto';
}
.contacts{
  width: 100%;
  height: auto;
  background-color: #1f1d29;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  font-family: 'Roboto';
  color: #ccc;
}
.logo{
  width: 50px;
  height: 50px;
  background-color: aliceblue;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.right{
  width: 10%;
  height: 100%;
  /* background-color: yellow; */
}
.top{
  width: 450px;
  height: 75px;
  background-color: blue;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.back{
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-color: yellow;
  border-style: solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.holder{
  width: 80%;
  height: 90%;
  background-color: brown;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hpic {
  width: 150px;
  height: 150px;
  background-color: blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.hdetail{
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: blue;
}
.hdetail p {
  font-size: xx-large;
}
.hbio{
  width: 90%;
  height: 30%;
  background-color: blue;
}